*{
   margin: 0;
   padding: 0;
   font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color:rgb(120, 129, 120);
    display: flex;
    justify-content: center;
     align-items: center;
   
}

h1{
    margin:30px;
    text-align: center;
    font-weight: 500;
  color: rgb(220, 236, 236);
  text-shadow: 2px 3px 2px  rgb(207, 198, 180);

}
.container{
    height: 60%;

   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size:xx-large;
    font-weight: 2000;
}
#reset{
    margin-top:27px;
    padding: 10px;
    border-radius:15px;
    border:none;
    font-weight:bolder;
background-color: rgb(153, 158, 158);
box-shadow: 2px 2px 20px 2px  white;
}
#btn1{
    margin-top:27px;
    padding: 10px;
    border-radius:15px;
    border:none;
    font-weight:bolder;
background-color: rgb(153, 158, 158);
box-shadow: 2px 2px 20px 2px  white;
}

.msg-container{
    margin:30px;
    text-align: center;
    font-weight: 500;
    font-size: larger;
  color: rgb(220, 236, 236);
  text-shadow: 2px 3px 2px  rgb(207, 198, 180);

}

